<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<session-config>
		<session-timeout>1800</session-timeout>
	</session-config>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>confReloadCheckInterval</param-name>
			<param-value>300</param-value>
		</init-param>
		<!--
			sets up log level (will be logged to context log) can be: TRACE,
			DEBUG, INFO (default), WARN, ERROR, FATAL, log4j, commons,
			sysout:{level} (ie, sysout:DEBUG) if you are having trouble using
			normal levels use sysout:DEBUG
		-->
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>TRACE</param-value>
		</init-param>
		<!--
			you can disable status page if desired can be: true, false (default
			true)
		-->
		<init-param>
			<param-name>statusEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<!--
			you can change status path so that it does not conflict with your
			installed apps (note, defaults to /rewrite-status) note, must start
			with /
		-->
		<init-param>
			<param-name>statusPath</param-name>
			<param-value>/urlrewrite/status</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Security -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Jiql Admin</web-resource-name>
			<url-pattern>/jiqladmin.html</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
  <!-- DB Servlets -->
	<servlet>
		<servlet-name>dbServlet</servlet-name>
		<servlet-class>com.poma.bkitpoma.server.DatabaseServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dbServlet</servlet-name>
		<url-pattern>/bkitpoma/db</url-pattern>
	</servlet-mapping>

  <!-- ReCaptcha Servlets -->
	<servlet>
		<servlet-name>recaptchaServlet</servlet-name>
		<servlet-class>com.poma.bkitpoma.server.RecaptchaServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>recaptchaServlet</servlet-name>
		<url-pattern>/bkitpoma/recaptcha</url-pattern>
	</servlet-mapping>
  
  <!-- Tracked Servlets -->
	<servlet>
		<servlet-name>trackedservlet</servlet-name>
		<servlet-class>com.poma.trackedremote.server.TrackedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trackedservlet</servlet-name>
		<url-pattern>/trackedremote/</url-pattern>
	</servlet-mapping>
  
  <!-- JIQL Servlets -->
	<servlet>
		<servlet-name>jiqlservlet</servlet-name>
		<servlet-class>org.jiql.JiqlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jiqlservlet</servlet-name>
		<url-pattern>/jiqlservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jiqladmin</servlet-name>
		<servlet-class>com.appcloem.jiql.gwt.jiqladmin.server.JiqlAdminServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jiqladmin</servlet-name>
		<url-pattern>/jiqladmin/jiqlwebadmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fileupload</servlet-name>
		<servlet-class>com.appcloem.gwt.server.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileupload</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
</web-app>